.home-page {
  width: 100%!important;
  height: 100vh;
  display: flex;
  }
  body {
    margin: 0;
    font-family: Yantramanav, sans-serif;
    overflow: hidden;
  }
  
  .home-page-section-1 {
    width: 20%;
    background: #1a1c20;
}

  .home-page-section-2 h1 {
    position: relative;
    left: -300px;
    color: white;
    font-family: Yantramanav, sans-serif;
  }
  
  .home-page-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
    box-sizing: border-box;
    /* margin-left: 20%; */
    width: 80%;
    background: #191b1c;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-control {
    width: 1000%;
    max-width: 438px;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: #3F3F3F;
    font-size: 16px;

  }
  
  .btn {
    padding: 12px 180px;
    border: none;
    border-radius: 5px;
    background-color: #1A1C20;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forget-password-a {
    margin-top: 20px;
    font-size: 14px;
    color: #3F3F3F;
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    display: flex;
  }
  
  .columna-1 {
    flex: 1;
    padding: 20px;
  }
  
  .columna-2 {
    flex: 1;
    padding: 20px;
    background-color: lightgray;
  }
  .app-img-1 img{
    width: 350px!important;
    height: 250px!important;
    margin-top: 12em;
  }

